.brick{

  @include tablet{
    margin-top: rem(50);
  }

  &__block{
    display: flex;
    justify-content: flex-end;
  }

  &__item{
    height: $brickItemHeight;
    padding: $brickItemPadding;
    border: $brickItemBorder;
    border-left: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;

    @include mobile{
      height: $brickItemHeight-m;
    }

    &:last-child{
      border-image-source: linear-gradient(90deg, rgba(255, 255, 255, .1), transparent);
      border-image-slice: 1;
    }
    &:first-child{
      border-image-source: linear-gradient(90deg, transparent, rgba(255, 255, 255, .1));
      border-image-slice: 1;
    }

    & img{
      height: 100%;
      max-height: 100%;
    }
  }

  &__index{
    position: relative;
    border: $brickItemBorder !important;
    z-index:2000;
  }
}

.brick__block:last-child{
  .brick__item{
    border-bottom: $brickItemBorder;
  }
}