.brick{

  @include tablet{
    margin-top: rem(50);
  }

  &__block{
    display: flex;
    justify-content: flex-end;
  }

  &__item{
    padding: $brick-item-padding;
    border: $brick-item-border;
    border-left: none;
    border-bottom: none;
    outline: none;
    cursor: pointer;

    &:last-child{
      border-image-source: linear-gradient(90deg, rgba(255, 255, 255, .1), transparent);
      border-image-slice: 1;
    }
    &:first-child{
      border-image-source: linear-gradient(90deg, transparent, rgba(255, 255, 255, .1));
      border-image-slice: 1;
    }
  }

  &__index{
    position: relative;
    border: $brick-item-border !important;
    z-index:2000;
  }
}

.brick__block:last-child{
  .brick__item{
    border-bottom: $brick-item-border;
  }
}