.btn-digitized{
  padding: $padding-btn;
  border: $border;
  @include border-gradient;
  color: $text-color;
  text-decoration: none!important;

  &:hover{
    @include bg-gradient;
  }
  &:focus{
    outline: 0;
  }

  &_contact{
    margin-top: $margin-top-btn-digitized-contact;
    @include bg-gradient;

    &:hover{
      background: transparent;
    }
  }

  &_send{
    @include bg-gradient;

    &:hover{
      color: $text-color;
      background: transparent;
    }
  }
}