.btn-scroll-down{
  position: absolute;
  width: 100%;
  bottom: $btn-scroll-down-bottom;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-family: $semiBoldFont;
  font-size: $defaultSize + rem(2);

  &__link{
    display: block;
    position: relative;
    padding-bottom: rem(15);
    text-transform: uppercase;
    color:$text-color;
    text-decoration: none;
    opacity:.5;
    @include transition;

    &:after{
      content: '';
      position: absolute;
      width: rem(18);
      height: rem(11);
      top: rem(25);
      left: 50%;
      transform: translateX(-50%);
      background-image: url("../images/arrow-down.png");
      background-repeat: no-repeat;
      background-position: 50% 100%;
      @include transition;
    }

    &:hover{
      color: $text-color;
      text-decoration: none;
      opacity: 1;

      &.btn-scroll-down__link:after{
        top: rem(30);
      }
    }
  }
}