.btn-digitized{
  padding: $btnPadding;
  border: $border;
  @include border-gradient;
  color: $textColor;
  text-decoration: none!important;

  &:hover{
    @include bg-gradient;
  }
  &:focus{
    outline: 0;
  }

  &_contact{
    margin-top: $btnDigitizedContactMarginTop;
    @include bg-gradient;

    &:hover{
      background: transparent;
    }
  }

  &_send{
    @include bg-gradient;

    &:hover{
      color: $textColor;
      background: transparent;
    }
  }
}