body{
  margin: 0;
  background-color: $body-bg;
  color: $text-color;
  font-size: $defaultSize;
  font-family: $defaultFont;
  background-image: url("../images/bg.png");
  background-repeat: repeat-y;
  background-position: 50% 50%;

  @include tablet{
    font-size: $defaultMobileSize;
    background-size: contain;
  }
}

.section{
  position: relative;
  padding: $defaultSectionPadding;

  &_home{
    padding-top: $homeSectionPadding;

    @include tablet{
      padding-top: $homeSectionPadding / 2;
    }
  }
}