.navbar {
  padding: 8px 0px;
  @include transition;
}

.scroll-fixed-navbar {
  padding: 0;
  background: rgba(0,0,0,.75) ;

  .navbar-brand img{
    width: rem(83);
  }
}

.navbar-brand {
  padding: 5px;

  img{
    width: rem(104);
    @include transition;
  }
}

/*------------------------------------------*/
/*	 Navigation Menu
/*------------------------------------------*/

.navbar-nav > li > a {
  color: $textColor;
  line-height: 40px;
  letter-spacing: 1px;
  display: block;
  padding: 0 15px;
  @include transition;

  &:hover,
  &.selected-nav{
    color: $textColor;
    background-color: transparent;
  }
  &:focus{
    background-color: transparent;
  }
}


/*------------------------------------------*/
/*	 Responsive Menu Button
/*------------------------------------------*/

.navbar-toggle {
  position: relative;
  float: right;
  background-color: transparent;
  padding: 10px;
  margin: 13px 30px 13px 0;
  border: none;
  color: #fff;
  border: 2px solid #333;

  &.icon-bar {
    background-color: #333;
  }
}