.menu-left{
  position: fixed;
  z-index: 50;
  list-style-type: none;
  //left: 7%;
  top: 35%;

  @include tablet{
    display: none;
  }

  &__item{
    display: block;
    border: $border #fff;
    opacity: .5;
    width: $left-menu-item-size;
    height: $left-menu-item-size;
    margin: 15px 0;
    border-radius: 50%;
    @include transition;

    & a{
      position: relative;
      width: $left-menu-item-size;
      height: $left-menu-item-size;
      display: block;
    }

    &.active{

      & a:before{
        content: '';
        position: absolute;
        width: $left-menu-item-size/2;
        height: $left-menu-item-size/2;
        background: #fff;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-72%, -72%);
      }

    }

  }

}






