.modal-content_transparent{
  background: transparent;
  border: $border $green;
}
.modal-content{
  background-color: transparent;
  border: $border $green;
}

.modal-body{
  padding: $modal-body-padding;
}
.modal{

  &__input{
    width: 100%;
    background: transparent;
    color: $text-color;
    margin: $margin-input;
    padding: $padding-input;
    border: $border $green;
    outline: none;
  }

  &__textarea{
    width: 100%;
    margin: $margin-textarea;
    color: $text-color;
    background: transparent;
    border: $border $green;
  }
}