.modal-content_transparent{
  background: transparent;
  border: $border $green;
}
.modal-content{
  background-color: $body-bg;
  border: $modal-content-border $green;
  border-radius: 0;
  padding: $modal-content-padding;

  @include mobile{
    padding: $modal-content-padding / 2;
  }
}
.modal-header{
  border: none;
}

.close{
  display: none;
  position: absolute;
  top: rem(10);
  right: rem(10);
  color: $text-color;
  opacity: 1;

  @include mobile{
    display: block;
  }
}
.modal{

  &__text{
    color: $text-color;
  }

  &__input{
    width: 100%;
    background: transparent;
    color: $text-color;
    margin: $margin-input;
    padding: $padding-input;
    border: $border $green;
    outline: none;
  }

  &__textarea{
    width: 100%;
    margin: $margin-textarea;
    padding: $padding-textarea;
    color: $text-color;
    background: transparent;
    border: $border $green;
  }
}