.popover{
  background-color: transparent;
  border: $border $green;
  color: $text-color;
  padding: $popover-padding;

  @include mobile{
    max-width: rem(200);
  }

  .arrow{
   display: none;
  }
}

.popover-body{
  color: $text-color;
}