.popover{
  background-color: transparent;
  border: $border $green;
  color: $textColor;
  padding: $popoverPadding;

  @include tablet{
    font-size: $defaultMobileSize;
  }

  @include mobile{
    max-width: rem(200);
  }

  .arrow{
   display: none;
  }
}

.popover-body{
  color: $textColor;
}