.text-block{

  @include tablet{
    margin-top: $margin-top-text;
  }

  @include mobile{
    margin-top: $margin-top-text-m;
  }

  &_center{
    text-align: center;
  }

  &__title{
    position: relative;
    text-transform: uppercase;
    font-size: $titleSize;

    &_line:before{
      content: '';
      position: absolute;
      width: $lineWidth;
      height: $lineHeight;
      border-radius: $borderRadius;
      background-color: $green;
      top: $lineTop;
      left: 0;

      @include tablet{
        top: $lineTop + rem(30);
      }
    }
  }

  &__subtitle{
    position: relative;
    margin-bottom: $margin-bottom-text-block-subtitle;
    color: $green;
    text-transform: uppercase;

    &:before{
      content: '';
      position: absolute;
      width: $lineWidth;
      height: $lineHeight;
      border-radius: $borderRadius;
      background-color: $green;
      top: rem(-15);
      left: rem(-20);
    }
  }

  &__content{
    margin-top: $margin-top-text-block-content;
    padding: $text-block-content-padding;
    border: $borderContent $green;

    @include tablet{
      margin-top: $margin-top-text-block-content/2;
    }
  }
}

.section_home .text-block{
  @include mobile{
    margin-top: $margin-top-text;
  }
}