.text-block{

  @include tablet{
    margin-top: $topTextMargin;
  }

  @include mobile{
    margin-top: 0;
  }

  &_center{
    text-align: center;
  }

  &__title{
    position: relative;
    text-transform: uppercase;
    font-size: $titleSize;

    @include tablet{
      font-size: $titleSize-m;
    }

    &_line:before{
      content: '';
      position: absolute;
      width: $lineWidth;
      height: $lineHeight;
      border-radius: $borderRadius;
      background-color: $green;
      top: $lineTop;
      left: 0;

      @include tablet{
        top: $lineTop + rem(30);
      }
    }
  }

  &__subtitle{
    position: relative;
    margin-bottom: $textBlockSubtitleMarginBottom;
    color: $green;
    text-transform: uppercase;

    &:before{
      content: '';
      position: absolute;
      width: $lineWidth;
      height: $lineHeight;
      border-radius: $borderRadius;
      background-color: $green;
      top: rem(-15);
      left: rem(-20);
    }

    @include mobile{
      font-size: $defaultSize;
    }
  }

  &__content{
    margin-top: $topTextMarginBlockContent;
    padding: $textBlockContentPadding;
    border: $borderContent $green;

    @include tablet{
      margin-top: $topTextMarginBlockContent/2;
    }
  }
}

.section_home .text-block{
  @include mobile{
    margin-top: $topTextMargin;
  }
}