//====== FONT-FAMILY ===
$defaultFont: 'OpenSans', Helvetica, Arial, sans-serif;
$semiBoldFont: 'OpenSans_semibold', Helvetica, Arial, sans-serif;


//====== FONT-SIZE ===
$titleSize: rem(36);
$defaultSize: rem(14);
$defaultMobileSize: rem(16);


//====== COLORS ====
$body-bg: #000;
$green: #56b945;
$textColor: #ffffff;
$scrollDownText: #858a8a;

//====== PADDING FOR SECTIONS ====
$defaultSectionPadding: rem(130);
$homeSectionPadding: rem(242);

//====== PADDING FOR text-block__content ====
$text-block-content-padding: rem(40) rem(23);

//====== BORDER RADIUS ====
$borderRadius: 5px;