//====== FONT-FAMILY ===
$defaultFont: 'OpenSans', Helvetica, Arial, sans-serif;
$semiBoldFont: 'OpenSans_semibold', Helvetica, Arial, sans-serif;


//====== FONT-SIZE ( {...}-m for mobile)===
$titleSize: rem(36);
$titleSize-m: rem(24);
$defaultSize: rem(14);
$defaultMobileSize: rem(16);


//====== COLORS ====
$body-bg: #000;
$green: #56b945;
$textColor: #ffffff;
$scrollDownText: rgba(255, 255, 255, 0.6);
$sectionBorderColor: #3197a3;

//====== OPACITY ===
$opacityOverlay: 0.8;

//====== BORDER ====
$borderContent: 3px solid;
$border: 2px solid;
$modalContentBorder: 1px solid;
$brickItemBorder: 3px solid rgba(255, 255, 255, .1);

//====== BORDER RADIUS ====
$borderRadius: 5px;


//====== SIZE (width, height) ====
$lineWidth: rem(87);
$lineHeight: rem(4);
$lineTop: rem(-55);
$leftMenuItemSize: 16px;
$brickItemHeight: rem(65);
$brickItemHeight-m: rem(50);


//====== PADDING ====
$defaultSectionPadding: rem(130);
$homeSectionPadding: rem(242);
$paddingInput: rem(10) rem(20);
$paddingTextarea: rem(10) rem(20);
$btnPadding: rem(13px) rem(38px);
$textBlockContentPadding: rem(40) rem(23);
$brickItemPadding: rem(7) rem(24);
$popoverPadding: rem(20) rem(15);
$modalContentPadding: rem(40);


//====== MARGING ====
$modalTextMargin: rem(10);
$inputMargin: rem(10) 0;
$textareaMargin: rem(10) 0;
$topTextMargin: rem(80);
$topTextMargin-m: rem(0);
$topTextMarginBlockContent: rem(40);
$btnDigitizedContactMarginTop: rem(40);
$textBlockSubtitleMarginBottom: rem(35);

//====== POSITION ===
$btnScrollDownBottom: rem(40);
$copywriteBottom: rem(65);