//====== FONT-FAMILY ===
$defaultFont: 'OpenSans', Helvetica, Arial, sans-serif;
$semiBoldFont: 'OpenSans_semibold', Helvetica, Arial, sans-serif;


//====== FONT-SIZE ===
$titleSize: rem(36);
$defaultSize: rem(14);
$defaultMobileSize: rem(16);


//====== COLORS ====
$body-bg: #000;
$green: #56b945;
$text-color: #ffffff;
$scrollDownText: rgba(255, 255, 255, 0.6);
$section-border-color: #3197a3;

//====== OPACITY ===
$opacity-overlay: 0.8;

//====== BORDER ====
$borderContent: 3px solid;
$border: 2px solid;
$brick-item-border: 3px solid rgba(255, 255, 255, .1);

//====== BORDER RADIUS ====
$borderRadius: 5px;


//====== SIZE (width, height) ====
$lineWidth: rem(87);
$lineHeight: rem(4);
$lineTop: rem(-55);
$left-menu-item-size: 16px;


//====== PADDING ====
$defaultSectionPadding: rem(130);
$homeSectionPadding: rem(242);
$padding-input: rem(10) rem(20);
$padding-btn: 13px 38px;
$text-block-content-padding: rem(40) rem(23);
$brick-item-padding: rem(7) rem(24);
$popover-padding: rem(20) rem(15);


//====== MARGING ====
$margin-input: rem(10) 0;
$margin-top-text: rem(80);
$margin-top-text-block-content: rem(40);
$margin-top-btn-digitized-contact: rem(40);
$margin-bottom-text-block-subtitle: rem(35);